body.custom-strongerbc {

	.wp-block-button .wp-block-button__link {
		background-color: var(--wp--preset--color--secondary-brand);
		padding: calc(0.5rem + 2px) calc(1.333rem + 2px);
	}

	.wp-block-columns.is-style-constrained .wp-block-column {
		max-width: 100%;
	}
}