.feature-card-group {

	.feature-card {
		background-color: transparent;
		background-image: $feature-card-container-bottom-white;
		background-repeat: no-repeat;
		background-position: bottom center;
		background-size: 100%;
		width: 100%;

		.wp-block-cover {
			aspect-ratio: 4/3;
			min-height: auto;
			width: 100%;
			padding: 0;
			overflow: hidden;

			.wp-block-cover__background {
				display: none;
			}

			.wp-block-cover__image-background {
				height: 100%;
			}

			.wp-block-cover__inner-container {
				background-image: $feature-card-general-headline-bg;
				filter: var(--card-drop-shadow);
				body .housing-card-section & {
					background-image: $feature-card-housing-headline-bg;
				}
				body .jobs-card-section & {
					background-image: $feature-card-jobs-headline-bg;
					filter: var(--card-glow);
				}
				body .economicplan-card-section & {
					background-image: $feature-card-economicplan-headline-bg;
				}
				background-repeat: no-repeat;
				background-size: 100%;
				background-position: top right;
				padding: 1rem 2rem 0.5rem;
				width: calc(80% - 2rem);

				h2,
				h3,
				h4 {
					font-size: var(--wp--preset--font-size--large);
					margin: 0.5rem 0;
				}
			}
		}
	}
	
	.wp-block-columns {
		
		justify-content: center;
		
		.wp-block-column {
			border-radius: 0;
			margin: 0 1rem !important;
		}
	}
}

.economicplan-card-section {
	.wp-block-group {
		.wp-block-buttons {
			.wp-block-button {
				&__link {
					background-color: var(--wp--preset--color--accent);
					color: var(--wp--preset--color--custom-plan-blue-background);
				}
			}
		}
	}
}

.economicplan-goal-section {
	.feature-card-group {
		.feature-card {
			background-image: $feature-card-container-bottom-blue;
			.wp-block-cover__inner-container {
				background-image: $feature-card-economicplan-headline-bg;
			}
		}
	}
}

.housing-card-section {
	.wp-block-group {
		.wp-block-buttons {
			.wp-block-button {
				&__link {
					background-color: var(--wp--preset--color--custom-housing-buttons);
				}
			}
		}
	}
}