body.custom-strongerbc {

	.wp-block-navigation ul.has-background {
		padding: 0;
	}

	.is-style-ribbon-menu {

		@media (max-width: $breakpoint-sm) {
			background-color: var(--wp--preset--color--primary-brand) !important;
		}

		nav.wp-block-navigation {
			justify-content: center;
			padding-right: 0;
		}

		.has-modal-open {
		
			.ul-main-nav > li > a {
				border: none !important;
			}
		
			.wp-block-navigation__container {
				gap: 0.5rem !important;
			
				.wp-block-navigation-item {
					padding: 0;
				}
			}
		}
	}
	
	.language_switcher_options {
		background-color: var(--wp--preset--color--secondary-brand) !important;
	}
}

.wp-block-polylang-language-switcher {
	display: none;
}

.wp-block-navigation .has-child .wp-block-navigation__submenu-container>.wp-block-navigation-item>.wp-block-navigation-item__content {
	line-height: 1.5;
}
