@import './variables.scss';
@import './public/blocks.scss';
@import './public/card-containers.scss';
@import './public/footer.scss';
@import './public/header.scss';
@import './public/housing-stats.scss';
@import './public/landing.scss';
@import './public/mobile.scss';
@import './public/navigation.scss';
@import './public/sections.scss';

:root {
	box-sizing: border-box;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

html {
	--scroll-padding: 2rem !important;
}

body {
	padding: 0;
	margin: 0;
	flex-direction: column;
	overflow-x: hidden;

	.notification {
		padding: 0.5rem 2rem;
		width: calc(100vw - 4rem);
	}
}
  